<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <!-- Homepage -->
  <%- include partials/header.ejs %>
    <%- include partials/main_nav.ejs %>
    <div class="message">
      <!-- Message Area -->
      <% if(messages.length> 0) {%>
        <div class="alert alert-danger">
          <%= messages %>
        </div>
        <% } %>

    <section>
      <div class="container">
        <img src="images/logo4.PNG" alt="logo" id="logo">
          <div class="row">
          <div>
            <h1>Welcome to <br> <span>Survey Donkey!</span></h1>
            <h2>A leading company in survey software. <br> Create your survey with us.</h2>
            <div>
              <a href="/survey/add">Create new Survey</a>&nbsp;
              <a href="/survey/list">View Available Surveys</a>
            </div>
          </div>
          <div>
            <img src="images/resources.png" class="img-fluid" alt="girl_pic">
          </div>
          </div>
        </div>
      </div>
      <%- include partials/footer.ejs %>
</body>

</html>