<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>
<div class="container">
    <h1>Edit Survey</h1>
    <form id="surveyForm" method="POST">
        <div>
            <label for="surveyTitle">Survey Title</label>
            <input type="text" id="surveyTitle" placeholder="Enter Survey Title" name="title" required value="<%= survey.title %>">
        </div>

        <div>
            <label for="description">Survey Description</label>
            <textarea cols="50" id="description" placeholder="Enter Survey Description" name="description" required><%= survey.description %></textarea>
        </div>
        
        <div>
            <label for="startDate">Start Date</label>
            <input type="date" id="startDate" name="startTime" required value="<%= survey.startTime %>">
        </div>

        <div>
            <label for="endDate">End Date</label>
            <input type="date" id="endDate" name="endTime" required value="<%= survey.endTime %>">
        </div>
        <div class="question-fields" hidden="true">
            <label for="questionType">Question Type</label>
            <select name="questionType" id="questionType">
                <option value="<%= survey.questions[0].qType %>"><%= survey.questions[0].qType %></option>
            </select>
        </div>    
        <div id="questionFields">
            <% survey.questions.forEach((question, index) => { %>
                <div class="questionField" data-question-type="<%= question.qType %>">
                    <label for="question<%= index %>Text">Question <%= index + 1 %></label>
                    <% if (question.qType === 'multiple_choice') { %>
                        <!-- 生成多选题 -->
                        <input type="text" id="question<%= index %>Text" required value="<%= question.qText %>">
                        <% question.options.forEach((option, optIndex) => { %>
                            <div class="choicesContainer">
                                <input type="text" class="choiceText" required value="<%= option %>">
                                <button type="button" class="removeChoice">Remove</button>
                            </div>
                        <% }) %>
                        <button type="button" class="addChoice">Add Choice</button>
                    <% } else if (question.qType === 'short_answers') { %>
                        <!-- 生成简答题 -->
                        <textarea id="question<%= index %>Text" required><%= question.qText %></textarea>
                    <% } %>
                    <input type="hidden" value="<%= question._id %>">
                    <input type="hidden" value="<%= question.qType %>">
                    <button type="button" class="deleteQuestion">Delete Question</button>
                </div>
            <% }) %>
        </div>
        
        <button type="button" id="addQuestion">Add Question</button>
        <br>
        <button type="submit">Update</button>
    </form>
</div>
<%- include ../partials/footer.ejs %>
<script src="/server/views/scripts/editQuestion.js"></script>
